.example-spacer {
    flex: 1 1 auto;
  }

div{
    align-items: center;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.mat-toolbar{
    background: rgb(224,77,23);
    background: linear-gradient(90deg, rgba(224,77,23,1) 11%, rgba(252,176,69,1) 100%);
}



