.search{
    border-radius: 6%;
    display: block;
    margin: auto;
    text-align: center;
    width: 60%;
    height: 70%;
}

.thePage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#searchButton{
    background-color: rgb(222, 92, 45);
}

#searchButton:hover{
    background: linear-gradient(90deg, rgba(224,77,23,1) 11%, rgba(252,176,69,1) 100%);
}