<h2>Customer login/ registration</h2>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Login">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" />
            </mat-form-field>
            <button class="myBtn" mat-raised-button type="submit">
                <mat-icon>login</mat-icon>
            Login
            </button>
        </form>
        </mat-tab>
        <mat-tab #registerTab label="Register">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Passport Number</mat-label>
            <input matInput formControlName="passportNumber" />
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" />
            </mat-form-field>
            <button class="myBtn" mat-raised-button type="submit">
                <mat-icon>app_registration</mat-icon>
            Register
            </button>
        </form>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>